:root {
    --main-bg-color: color(srgb 0 0 255 / 0.5);
}

* {
    font-family: "Funnel Sans", sans-serif;
}

details {
    color: rgb(255, 255, 255);
    background-color: var(--main-bg-color);
    border: 4mm ridge rgb(219, 60, 187);
    margin: auto
}

nav {
    background-color: var(--second-bg-color, color(srgb 0 255 0 / 0.5));

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-bottom: 1em;

    border-width: 3pt;
    border-style: dashed;
    border-color: red;
    border-radius: 30px;

    text-align: center;
}

.nav-link {
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
}

/* Add over/underline to chillers in the website */
.chiller {
    text-decoration: underline overline #ff3028;
}