/* set general background color */
:root {
    --main-bg-color: color(srgb 0 0 255 / 0.5);
}

/* cool font */
* {
    font-family: "Funnel Sans", sans-serif;
}

/* mobile users have to have a blue screen */
@media only screen and (max-width: 1000px) {
    body {
        background-color: var(--main-bg-color);
    }
}

/* the details pane */
details {
    color: rgb(255, 255, 255);
    background-color: var(--main-bg-color);
    border: 4mm ridge rgb(219, 60, 187);
    margin: auto;

    /* rules for when the details pane is hovered */
    &:hover {
        background-color: color(srgb 0 0 255 / 0.8);
    }

    /* rules for when the details pane is active */
    &:active {
        background-color: color(srgb 0 0 0 / 1);
    }
}

/* Align form elements in a flexbox */
.flexbox-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Align form elements in a grid */
.grid-test {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

/* nav bar */
nav {
    background-color: var(--second-bg-color, color(srgb 0 255 0 / 0.5));

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-bottom: 1em;

    border-width: 3pt;
    border-style: dashed;
    border-color: red;
    border-radius: 30px;

    text-align: center;
}

/* links in the nav bar */
nav a {
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
}

/* italicized what is a fish because it's important */
a[href="https://en.wikipedia.org/wiki/Fish"] {
    font-style: italic;
}

/* Add over/underline to specific chillers in the website */
li.chiller {
    text-decoration: underline overline #ff3028;
}

/* the area where attendance is recorded */
.attendance {
    border-width: 3pt;
    border-style: dotted;
}

/* secret !! */
.hidden, .hidden2 {
    display: none;
}

/* Style specifically for h1s before audio */
h1:has(+ audio) {
    text-decoration: green wavy underline;
}

/* Make the leaders attendance bold */
ul.leaders > li {
    font-weight: bold;
}

/* Purple underline for headers after paragraphs */
p + h1 {
    text-decoration: purple wavy underline
}

/* Make all h2s following div.hidden green */
div.hidden ~ h2 {
    color: green;
}

/* input items not in a flexbox or grid layout */
.normal-input {
    text-align: center;
    display: block;
    margin: 1em;
}

/* main big fish image */
img.logo {
    height: 515px;
    width: 871px;
    min-width: 500px;
    max-width: 900px;
    margin: auto;
    display: block;
}

/* sticky fish image on the top right of webpage */
img.sticky-fish {
    width: 200px;
    height: 133px;
    display: block;
    margin-left: auto;
    position: sticky;
    top: 20px;
}

/* edit the position of the fish video */
#fish-video {
    position: static;
}